#####################
#
# Please enable mod_rewrite and update following line
# to right destination to correct folder
#
#   RewriteRule ^(servlet)/(.*) /$1.php?$2 [L,QSA]
#
# e.g.
#  for http://www.domain.com/freud/trunk/input/geonames/
#   the line has to be
#
#   RewriteRule ^(servlet)/(.*) /freud/trunk/input/geonames/$1.php?$2 [L,QSA]
# 
####################

RewriteEngine on
RewriteBase    /
RewriteCond %{REQUEST_URI} .*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !d-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(maps|export|img)/(.*) http://www.geonames.org/$1/$2 [L,R]
#RewriteRule ^(servlet)/(.*) /freud/trunk/input/geonames/$1.php?$2 [L,QSA]
RewriteRule ^(servlet)/(.*) /geonames/$1.php?$2 [L,QSA]
