/*
Title 	: CSS for Simple Carousel with Paging Using Mootools
Author 	: Nikhil Kunder
Date 	: 2008/09/12
Version : 1.0
    moocarousel_v1.0.js & carousel.css  is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 	Lesser General Public License for more details.
*/

@charset "utf-8";
/* CSS Document */
body{ margin:25px; font-family:"trebuchet MS", Tahoma ; font-size:13px; border:1px solid #cfcfcf; padding:20px;}
.clearfix{clear:both;display:block;}
.text{ color:#555555;}

/* carousel css*/
.sprite_icon{background:url(images/sprite_carousel_icons.gif) no-repeat;}
.carousel_container_l, .carousel_container_r{display:block; margin:50px 0 0 0 ; position: relative;width: 23px;height:20px; float:left; cursor:pointer; } 
.carousel_container_r{background-position: 0 -38px; } 
.carousel_container_l{background-position: 0 -58px; } 

/* carousal 1*/
#carousel1_container{width:480px;  float:left; border:1px solid #cccccc;}
#carousel1_wrapper{overflow:hidden;margin: 0 2px; width:420px; position: relative; float:left;}
#carousel1_items_container{margin:0px; padding:0px 2px; width:5000px;position: relative;  }
.carousel1_items{ width:92px; height:125px; border:1px dotted #cfcfcf; margin:5px 5px; position:relative;float:left; text-align:center; overflow:hidden;}
.carousel1_items img{margin:2px;}

/* carousal 2*/
#carousel2_container{width:200;  float:left; border:1px solid #cccccc;}
#carousel2_wrapper{overflow:hidden;margin: 0 2px; width:180px; position: relative; float:left;}
#carousel2_items_container{margin:0px; padding:0px 2px; width:5000px;position: relative;  }
.carousel2_items{ width:165px; height:110px; border:1px dotted #cfcfcf; margin:0 5px; position:relative;float:left; text-align:center; overflow:hidden;}
.carousel2_items img{margin:2px;}


/* carousel paging css*/
.carousel_paging {text-align:right; margin:5px 10px 0 0;}
.carousel_paging .current, .carousel_paging .page{ outline:none;  width:15px; height:15px; line-height:15px; text-align:center; display:block; float:left; background:#D8D8EB; margin:0 1px 0 0; text-decoration:none;}
.carousel_paging a:hover, .carousel_paging .current{background:#4D4D9B; color:#ffffff;}

