

.jacq-center {text-align: center;}
.jacq-left {text-align: left;}
.jacq-right {text-align: right;}
.jacq-button-margin {margin: 10px 5px;}
.jacq-button-margin1 {margin: 0px 5px}

.jacq-margin-padding-top {margin-top:3px; padding-top:3px}
.jacq-margin-padding-bottom {margin-bottom:3px; padding-bottom:3px}

.jacq-w05p {width:5%;}
.jacq-w10p {width:10%;}
.jacq-w15p {width:15%;}
.jacq-w20p {width:20%;}
.jacq-w25p {width:25%;}
.jacq-w30p {width:30%;}
.jacq-w35p {width:35%;}
.jacq-w40p {width:40%;}
.jacq-w45p {width:45%;}
.jacq-w50p {width:50%;}
.jacq-w55p {width:55%;}
.jacq-w60p {width:60%;}
.jacq-w65p {width:65%;}
.jacq-w70p {width:70%;}
.jacq-w75p {width:75%;}
.jacq-w80p {width:80%;}
.jacq-w85p {width:85%;}
.jacq-w90p {width:90%;}
.jacq-w95p {width:95%;}


.jacq-list-specimens-form {
    padding: 0.5em 3.5em 0.5em 0em;
    margin-bottom: 0.7em;
}

.jacq-label-mandatory {
     background-color:#2992ca; 
/*     background-color:#294811; */
}

.jacq-label-red {
     background-color:#8b0000; 
}

.jacq-autocomplete-field {
    background-color:#EEEEBB;
}


tr.outMark { background-color: #00AA33; }
th.jacq-th-border { font-style: italic;  border: 1px solid black; }

#specimen_entries {padding-top: 15px; padding-bottom: 15px; text-align: center;}


a:link,.specimen_pagination a:link { font-weight:bold; color:#000000; text-decoration:none; }
a:visited,.specimen_pagination a:visited { font-weight:bold; color:#000000; text-decoration:none; }
a:hover,.specimen_pagination a:hover { font-weight:bold; color:#607d8b; text-decoration:none; }
a:active,.specimen_pagination a:active { font-weight:bold; color:#607d8b; text-decoration:none; }
a:focus,.specimen_pagination a:focus { font-weight:bold; color:#607d8b; text-decoration:none; }

/*.specimen_pagination a:link { font-weight:bold; color:#ff7700; text-decoration:none; }
.specimen_pagination a:visited { font-weight:bold; color:#ff7700; text-decoration:none; }
.specimen_pagination a:hover { font-weight:bold; color:#607d8b; text-decoration:none; }
.specimen_pagination a:active { font-weight:bold; color:#607d8b; text-decoration:none; }
.specimen_pagination a:focus { font-weight:bold; color:#607d8b; text-decoration:none; }
*/

.w3-theme a:link { font-weight:bold; color:#ffff00; text-decoration:none; }
.w3-theme a:visited { font-weight:bold; color:#ffff00; text-decoration:none; }
.w3-theme a:hover { font-weight:bold; color:#f1f1f1; text-decoration:none; }
.w3-theme a:active { font-weight:bold; color:#f1f1f1; text-decoration:none; }
.w3-theme a:focus { font-weight:bold; color:#ffaa77; text-decoration:none; }


.w3-striped-jacq tbody tr:nth-child(even){background-color:#f4fbef}
.w3-striped-jacq tbody tr:nth-child(odd){background-color:#dbf2ca}


.material-icons {
    vertical-align:-25%;
}


:required:invalid,.required_invalid {
  border: 1px solid red;
  background-color: #ffeeee;
}

.jacq-autocomplete-field-required {
    background-color:#EEEEBB;
    border: 1px solid red;
}
