/nbproject/
variables.php
/annonaceae/inc/connect.php
.idea
input/install.php
/output.new/testJsonRPC.php
/access/test.html
/input.services/vendor/
/input.services/logs/
/input.services/composer.lock
/input/vendor/
/input/composer.lock
