/nbproject/
variables.php
/annonaceae/inc/connect.php
.idea
input/install.php
/output.new/testJsonRPC.php
/access/test.html
/services/classification/vendor/
/services/classification/logs/
/services/rest/vendor/
/services/rest/logs/
