body { background-color: #008000; font-family: sans-serif; font-size: 83%; }
div.label { font-family: sans-serif; font-weight: bold; font-size: 100%; text-align: right; }
div.input { font-family: sans-serif; font-size: 100%; }
div.text  { font-family: sans-serif; font-size: 100%; }
input { font-family: sans-serif; font-size: 100%; padding-left: 0.3em; }
input.button { font-family: sans-serif; font-weight: bold; font-size:100%; padding-left:5px; text-align:left;}
input.button:hover { background-color: #abffab; }
textarea { font-family: sans-serif; font-size: 100%; padding-left: 0.3em; }
select { font-family: sans-serif; font-size: 100%; }

table.out { border: 1px solid black; border-collapse:collapse; width: 100%; }
tr.out {; }
tr.outMark { background-color: #00AA33; }
th.out { font-style: italic; background-color: #AA0000; border-bottom: 4px double black; border-left: 1px solid black; }
td.out { border:1px solid black; padding: 2px; }
td.outNobreak { border:1px solid black; padding: 2px; white-space: nowrap; }
td.outCenter { border:1px solid black; padding: 2px; text-align: center; }
td.outInactive { border:1px solid black; padding: 2px; font-style: italic; color:#993333; }
td.outMark { background-color: #00AA33; }

table.list { background-color: white; border-spacing: 0px; border-collapse: collapse; }
th.list { background-color: #cccccc; }
td.list { padding: 3px; border-width: 1px; border-color: gray; border-style: solid; }

a:link { font-weight:bold; color:#ffff00; text-decoration:none; }
a:visited { font-weight:bold; color:#ffff00; text-decoration:none; }
a:hover { font-weight:bold; color:#66FF66; text-decoration:none; }
a:active { font-weight:bold; color:#66FF66; text-decoration:underline; }
a:focus { font-weight:bold; color:#00E000; text-decoration:underline; }

div.cssfinput          { font-size: 100%; font-family: sans-serif; white-space: nowrap; }
div.cssfinputAutocomplete { font-size: 100%; font-family: sans-serif; white-space: nowrap; /*z-index:1;*/ }
div.cssflabel          { font-size: 100%; font-family: sans-serif; font-weight: bold; color: darkGray; text-align: right; white-space: nowrap; }
div.cssflabelMandatory { font-size: 100%; font-family: sans-serif; font-weight: bold; color: darkGray; background-color: #006666; text-align: right; white-space: nowrap; }
div.cssftext           { font-size: 100%; font-family: sans-serif; white-space: nowrap; }
input.cssfbutton       { font-size: 100%; font-family: sans-serif; padding-left: 0; font-weight: bold; }
input.cssfbutton:hover { background-color: #abffab; }
input.cssfcheckbox     { font-size: 100%; font-family: sans-serif; padding-left: 0; }
input.cssftext         { font-size: 100%; font-family: sans-serif; padding-left: 0.3em; }
input.cssftextAutocomplete { font-size: 100%; font-family: sans-serif; padding-left: 0.3em; background-color: #ffff99; }
input.cssfselect       { font-size: 100%; font-family: sans-serif; }
select.cssf            { font-size: 100%; font-family: sans-serif; }
select.cssf option:hover { background-color: Highlight; color: HighlightText; }
textarea.cssf          { font-size: 100%; font-family: sans-serif; padding-left: 0.3em; }
button.cssf:focus      { border-style: groove; }

div.cssf_input_autocomplete                { background: #fff; z-index:1000; }
div.cssf_input_autocomplete ul             { border:2px solid #888; margin:0; padding:0; width:99%; list-style-type:none; }
div.cssf_input_autocomplete ul li          { margin:0; padding:3px; }
div.cssf_input_autocomplete ul li.selected { color:HighlightText; background-color:Highlight; }

#close { position:absolute; top:1em; right:1em; width:8em ; }

a.iBox { color:blue; }
a.iBox:hover { color:red; }

.error { background-color:red; }