#####################
#
# Please enable mod_rewrite and put this .htaccess to document-root directory
# (e.g. "reachable" under wwww.domain.com/.htaccess, of course it is hidden)
#
# update the rule after line 23 for the path to geonames:
#
# if geonames is reachable under: http://www.domain.com/freud/trunk/input/geonames/
# then the rule has to be
#
#   RewriteRule ^(servlet)/(.*) /freud/trunk/input/geonames/$1.php?$2 [L,QSA]
#
####################

RewriteEngine on
RewriteBase    /
RewriteCond %{REQUEST_URI} .*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !d-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(maps|export|img)/(.*) http://www.geonames.org/$1/$2 [L,R]

# Line 23: Rewrite the rule after this line like mentioned in the comment
RewriteRule ^(servlet)/(.*) /freud/trunk/input/geonames/$1.php?$2 [L,QSA]
